h1 {
    color: #46f40cb5;
    text-align: center;
    font-size: 60px;
}

.puntajes {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.manos {
    display: flex;
    justify-content: space-around;
}

.mano {
    height: 150px;
}
